@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&amp;family=Be+Vietnam+Pro:wght@400;500;700&amp;display=swap');

:root {
      --primary-color: #ee9d2b;
      --secondary-color: #393228;
      --background-color: #121212;
      --text-primary: #F5F5F5;
      --text-secondary: #a3a3a3;
    }

body {
      font-family: 'Be Vietnam Pro', sans-serif;
      background-color: var(--background-color);
    }
.cormorant {
      font-family: 'Cormorant Garamond', serif;
    }


.hero-bg {
  position: relative;
  background-size: cover;
  background-position: center;
  height: auto;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-bg .container {
  position: relative;
  z-index: 2;
}

.heading {
  font-size: 6em;
}

.story {
  display: inline-block;
  width: 50%;
}

.section-2 {
  height: 70vh;
  position: relative;
}

.sec2img {
  position: relative;
  display: inline-block;
}

#one {
  width: 30em;
}
#two {
  position: absolute;
  right: 5em;
  top: 5em;
  width: 28em;
  height: 16em;
}

.section-3 {
  background-color: var(--secondary-color);
}

.food p {
  display: inline-block;
}

.food, img {
  width: 20em;
}

.glass {
    background: rgba(255, 255, 255, 0.25); 
    border-radius: 16px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}


form {
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid white;
    border-radius: 2em;
}

.start {
  background-color: aquamarine;
}